* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header {
    background-color:#2f3640 ;
    color: #f5f6fa;
}
header .container {
    display: flex;
    padding: 16px 0;
    align-items: center;
    justify-content: space-between;
}
header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}
header li a {
    color: #f5f6fa;
    text-decoration: none;
}



.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%
}
.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover,
#sports .container a:hover {
    text-decoration:underline;
}
.articles article p,
.articles article a,
#sports .container .volte-topo {
    font-family: Arial, Helvetica, sans-serif;
    
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

header .container li a:hover {
    text-decoration:underline;
}

header .container nav ul li a {
    text-decoration: none;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
    
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}

#economy .articles article a {
    background-color: #ff9f1a;

}

#technology {
    background-color: rgba(0, 0, 100, 0.30);
}

#technology .articles article a {
    background-color: #2f3640;
}

#entretenimento {
    background-color:lightcoral;
}

#entretenimento .articles article a {
    background-color: brown;
}

#sports .container .volte-topo {
    background-color: #458b5d;
    color: #fff;
    padding: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50%;
}

#economy .container .volte-topo {
    background-color: #fdbf68;
    color: #fff;
    padding: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50%;
}

#technology .container .volte-topo {
    background-color: #6c6e6e;
    color: #fff;
    padding: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50%;
}

#entretenimento .container .volte-topo {
    background-color: rgb(172, 71, 71);
    color: #fff;
    padding: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50%;
}