* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #494949;
}



#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

input, button {
    margin: 10px 0px ;
    padding: 10px;
    border-radius: 5px;    
}

button:hover {
    cursor: pointer;
}

button {
    background-color: rgb(90, 245, 90);
    border: none;
    
}